<!DOCTYPE html>
<html>
<head>
  <title><%= @page.title %> | Mwiki</title>
  <%= stylesheet_link_tag    "http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="breadcrumb">
    <li><a href="/">Mwiki</a> <span class="divider">/</span></li> 
    <li class="active"><%= @page.title %></li>
  </ul>

  <div class="container">
<%= yield %>
  </div>

</body>
</html>
